alembic==1.4.3
flake8==3.7.9
-e git+https://github.com/Amsterdam/GOB-Config.git@v0.4.12r#egg=gobconfig
-e git+https://github.com/Amsterdam/GOB-Core.git@v0.17.11j#egg=gobcore
pytest==3.6.3
pytest-cov==2.5.1
kafka-python==2.0.2
